@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth !important;
    }

    body {
        overflow: auto;
        overflow-x: hidden;
        overflow-y: overlay;
    }

    *:focus-visible {
        @apply outline-accent outline-2 outline outline-offset-2;
    }

    ::selection, ::-moz-selection {
        @apply bg-accent/70 text-white;
    }

    pre {
        @apply w-full whitespace-pre-wrap bg-secondary dark:bg-secondary-dark p-sm py-xs rounded-lg;
    }

    table {
        @apply max-w-content block overflow-x-auto border-spacing-0 border-separate;
    }

    th {
        @apply first:rounded-tl-lg last:rounded-tr-lg;
        @apply border border-secondary dark:border-secondary-dark;
        @apply bg-secondary dark:bg-secondary-dark;
        @apply font-medium text-left text-black dark:text-white px-sm py-xs whitespace-nowrap;
    }

    td {
        @apply first:border-l border-r border-b border-secondary dark:border-secondary-dark;
        @apply text-left text-black dark:text-white px-sm py-xs  whitespace-nowrap;
    }
    
    tr:last-child td {
        @apply first:rounded-bl-lg last:rounded-br-lg;
    }

    code {
        @apply bg-secondary dark:bg-secondary-dark rounded-sm px-xxs py-xxs whitespace-pre;
    }

    ul li {
        @apply list-disc list-inside dark:marker:text-white/50 marker:text-black/50;
    }

    ol li {
        @apply list-decimal list-inside dark:marker:text-white/50 marker:text-black/50;
    }
    
}

@layer components {

    .header.animate {
        @apply transition-transform hover:translate-x-1;
    }

    .header.sm {
        @apply font-bold md:text-2xl text-xl;
    }

    .header.md {
        @apply font-bold md:text-4xl text-3xl;
    }

    .header.lg {
        @apply font-medium md:text-6xl text-5xl text-accent;
    }

    .cool-underline {
        @apply no-underline relative;
        @apply after:transition-all after:pointer-events-none after:absolute after:left-0 after:bottom-px after:w-4/5 after:h-2 after:bg-accent after:rounded-none after:bg-opacity-60 after:z-0;
        @apply hover:after:w-full hover:after:h-0;
    }

    .header.cool-underline.sm {
        @apply after:h-1/6 after:bottom-1;
        @apply hover:after:h-0.5;
    }

    .btn {
        @apply leading-5 flex flex-row justify-center items-center text-center py-sm px-md rounded-lg font-medium hover:bg-opacity-80 dark:hover:bg-opacity-60 hover:text-opacity-80;
    }

    .link {
        @apply transition-transform no-underline text-accent hover:text-opacity-60 hover:cursor-pointer hover:translate-x-0.5;
    }

    .link.cool-underline {
        @apply after:h-px after:bottom-0.5 after:rounded-none;
    }

}

.task-list-item {
    list-style-type: none;
}
