@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth !important;
    }

    body {
        overflow: auto;
        overflow-x: hidden;
        overflow-y: overlay;
    }

    *:focus-visible {
        @apply outline-accent outline-2 outline outline-offset-2;
    }

    ::selection, ::-moz-selection {
        @apply bg-accent/70 text-white;
    }

    
}

@layer components {

    .header.animate {
        @apply transition-transform hover:translate-x-1;
    }

    .header.sm {
        @apply font-bold md:text-2xl text-xl;
    }

    .header.md {
        @apply font-bold md:text-4xl text-3xl;
    }

    .header.lg {
        @apply font-medium md:text-6xl text-5xl text-accent;
    }

    .cool-underline {
        @apply no-underline relative;
        @apply after:transition-all after:pointer-events-none after:absolute after:left-0 after:bottom-px after:w-4/5 after:h-2 after:bg-accent after:rounded-none after:bg-opacity-60 after:z-0;
        @apply hover:after:w-full hover:after:h-0;
    }

    .header.cool-underline.sm {
        @apply after:h-1/6 after:bottom-1;
        @apply hover:after:h-0.5;
    }

    .btn {
        @apply leading-5 flex flex-row justify-center items-center text-center py-sm px-md rounded-lg font-medium hover:bg-opacity-80 dark:hover:bg-opacity-60 hover:text-opacity-80;
    }

    .link {
        @apply transition-transform no-underline text-accent hover:text-white hover:cursor-pointer hover:translate-x-0.5;
    }

    .link.cool-underline {
        @apply after:h-px after:bottom-0.5 after:rounded-none;
    }

}